html {
  font-family: sans-serif;
  font-size: 17px;
}

p {
  /* 盒子容器 */
  width: 200px;
  height: 20px;
  padding: 10px 0px 10px 0px;
  box-shadow: 2px 2px 5px black,
    inset 2px 2px rgba(255, 255, 255, 0.5),
    inset -2px -2px rgba(0, 0, 0, 0.5);
  /* 背景图像 */
  background: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2) 30%),
    linear-gradient(to bottom right,
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0.2) 100%);
  background-color: rgb(255, 0, 0);
  /* 文本样式 */
  /*与html根字体大小相同*/
  font-size: 1rem;
  text-align: center;
  /* font-size: 1rem; */
  color: rgb(255, 0, 0);
  text-shadow: 1px 1px black;
  /* 边界样式 */
  border: 1px solid rgb(49, 5, 5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}